
body {
  background-image: url(http://conference.mindtheproduct.com/bg.gif);
  background-color: #6ecff6;
  font-family: museo, georgia, serif;
  font-style: italic;
  color: #000000;
}

#global-container {
  width: 100%;
  position: relative;
  margin: 0px;
}

.content {
  width: 723px;
  margin: 0 auto;
  position: relative;
}

.white-bg {
  width: 198px;
  height: 198px;
  background: url(http://conference.mindtheproduct.com/photo-circle.png) no-repeat;
}

.first {
  z-index: 4;
}

.second {
  z-index: 3;
  left: 175px;
}

.third {
  z-index: 2;
  left:350px;
}

.fourth {
  z-index: 1;
  left:525px;
}

.speakers {
	margin: 40px 87.5px 40px 87.5px;
	display: block;
	height: 280px;
	position: relative;
}

.speaker {
  position: absolute;
  width: 198px;
  height: 198px;
  text-align: center;
}

.speaker img {
  padding: 24px;
}


a.logo {
  float: left;
  margin: 25px 522px 30px 0px;
  width: 438px;
  height: 106px;
  background: url(http://conference.mindtheproduct.com/logo.png) no-repeat;
  text-indent: -9999px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: "futura-pt", helvetica, arial, sans-serif;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
}
h2 {
  font-size: 3.0em;
  line-height: 1.1em;
  font-family: helvetica, arial, sans-serif;
  font-weight: 600;
  margin-bottom: 0px;
  text-shadow: 0px -1px 0px #4d90ab;
  -moz-text-shadow: 0px -1px 0px #4d90ab;
  -webkit-text-shadow: 0px -1px 0px #4d90ab;
  behavior: url(PIE.htc);
}
h3 {
  font-size: 4.0em;
}
h4 {
  font-size: 1.2em;
  margin:10px 0px 0px 0px;
}
em {
	font-weight: bold;
}
a {
	color: #444;
	text-decoration: none;
}
a:hover {
	color: #333;
	text-decoration: underline;
}
p.dark {
  font-size: 1.1em;
  line-height: 1.1;
  font-family: "futura-pt", arial, sans-serif;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
p.intro {
  font-size: 1em;
  line-height: 1.2;
  color: #ffffff;
}
p.intro.speaking {
	text-align: center;
	padding: 1em 0 0;
}

p.company {
	margin:0px;
	font-size: 0.8em;
}

p.copy {
	font-size: 0.4em;
}


.sponsor {
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color:rgba(255,255,255,0.5);
	padding: 10px 40px 10px 40px;
	font-size: 1em;
	line-height: 1.3;
	color: #000000;
}
.sponsor h2 {
	font-size: 1.5em;
}

.previous-sponsors {
	margin: 40px 0;
}

.footer {
	background-color: #6ecff6;
	color:#333;
	padding: 10px 40px 10px 40px;
	margin-top: 50px;
	margin-bottom: 0px;
	font-size: 0.7em;
}

.buttons {
	text-align: center;
	margin: 24px 0;
}

a.button {
  font-family: "futura-pt", "Helvetica Neue", arial, sans-serif;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #1862B0;
	background:  -webkit-linear-gradient(top, #1862B0, #1357A8);
	background:  -moz-linear-gradient(top, #1862B0, #1357A8);
	background:  linear-gradient(top, #1862B0, #1357A8);
	border: 1px solid #0F4D9F;
	border-bottom-color: rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 0px rgba(255,255,255,0.5),
		inset 0 -1px 0px rgba(255,255,255,0.25),
		inset -1px 0px 0px rgba(255,255,255,0.25),
		inset 1px 0px 0px rgba(255,255,255,0.25);
	moz-box-shadow: inset 0 1px 0px rgba(255,255,255,0.5),
		inset 0 -1px 0px rgba(255,255,255,0.25),
		inset -1px 0px 0px rgba(255,255,255,0.25),
		inset 1px 0px 0px rgba(255,255,255,0.25);
	box-shadow: inset 0 1px 0px rgba(255,255,255,0.5),
		inset 0 -1px 0px rgba(255,255,255,0.25),
		inset -1px 0px 0px rgba(255,255,255,0.25),
		inset 1px 0px 0px rgba(255,255,255,0.25);
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: bold;
	padding: 0.75em 2em;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,0.75);
	font-style: normal;
}

a.button:hover,
a.button:focus {
	background: #1862B0;
	background:  -webkit-linear-gradient(top, #1B72B2, #1B72B2 50%, #13579B 50%, #13579B);
	background:  -moz-linear-gradient(top, #1B72B2, #1B72B2 50%, #13579B 50%, #13579B);
	background:  linear-gradient(top, #1B72B2, #1B72B2 50%, #13579B 50%, #13579B);
	border: 1px solid #0F4D9F;
	border-bottom-color: rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 0px rgba(255,255,255,0.75),
		inset 0 -1px 0px rgba(255,255,255,0.5),
		inset -1px 0px 0px rgba(255,255,255,0.5),
		inset 1px 0px 0px rgba(255,255,255,0.5);
	moz-box-shadow: inset 0 1px 0px rgba(255,255,255,0.75),
		inset 0 -1px 0px rgba(255,255,255,0.5),
		inset -1px 0px 0px rgba(255,255,255,0.5),
		inset 1px 0px 0px rgba(255,255,255,0.5);
	box-shadow: inset 0 1px 0px rgba(255,255,255,0.75),
		inset 0 -1px 0px rgba(255,255,255,0.5),
		inset -1px 0px 0px rgba(255,255,255,0.5),
		inset 1px 0px 0px rgba(255,255,255,0.5);
	color: #FFF;
}
a.button:active {
	background: #1862B0;
	background:  -webkit-linear-gradient(bottom, #1862B0, #1357A8);
	background:  -moz-linear-gradient(bottom, #1862B0, #1357A8);
	background:  linear-gradient(bottom, #1862B0, #1357A8);
}